// 非公開情報はこのファイルの形式でconfig.hファイルをルートディレクトリに作成し、定義してください。

#ifndef CONFIG_H
#define CONFIG_H

// Wi-Fi設定
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWORD"

// MQTT設定
#define MQTT_SERVER "MQTT_SERVE"
#define MQTT_PORT "PORT_NUMBER_INT" // MQTT over TLS/SSL ポート
#define MQTT_USERNAME "MQTT_USERNAME"
#define MQTT_PASSWORD "MQTT_PASSWORD"
#define MQTT_TOPIC "MQTT_TOPIC"
#define MQTT_CERTIFICATE "MQTT_CERTIFICATE"

#endif  // CONFIG_H