// 非公開情報はこのファイルの形式でconfig.hファイルをルートディレクトリに作成し、定義してください。

#ifndef CONFIG_H
#define CONFIG_H

// Wi-Fi設定
#define SSID "YOUR_SSID"
#define PASSWORD "YOUR_PASSWORD"
#define MQTT_SERVER "YOUR_MQTT_SERVE"
#define MQTT_PORT "port_number_int"

#endif  // CONFIG_H